<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="EmployeeDb"
			 connectionString="Data Source=(local);Initial Catalog=Employee;Integrated Security=True;MultipleActiveResultSets=True;"
			 providerName="System.Data.SqlClient"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(name)"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true" xdt:Transform="SetAttributes(debug)" />
	</system.web>

</configuration>